<div class="head">
	<img src="/assets/img/digiminer_logo.png" alt="logo">
	<div class="restart" (click)="resetUser()">
		Főmenü
	</div>
</div>
<div class="toplist" >
	<ul>
		<li *ngFor="let item of results; index as i ">
			<div class="container">
				<div class="row">
					<div class="col-6 d-flex justify-content-center">
						<div class="side">{{ i + 1 }}.</div>
						<div>{{ item.user_name }}</div>
					</div>
					<div class="col-6 d-flex justify-content-center">
						<div class="side">
							<img src="assets/img/digiminer_coin.png" alt="Digicoin">
						</div>
						<div>{{ item.points | number: '1.0' }}</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
