@import "~src/styles/variables";

.head {
	position: relative;
	padding: 20px;
	background-color: $dpurple;
	text-align: center;
	img {
		width: 150px;
		height: auto;
	}

	.restart {
		position: absolute;
		right: 3%;
		top: 50%;
		transform: translateY(-50%);
		color: white;
		text-decoration: underline;
		font-size: 14px;
		font-weight: 200;
	}
}
.toplist {
	width: 100%;
	color: white;

	ul {
		width: 100%;
		padding: 0;
		background-color: white;
		padding: 1px 0;

		li {
			display: flex;
			padding: 12px;
			margin: 4px 0;
			background-color: $lpurple;
			font-size: 23px;
			font-weight: bold;

			&:first-child {
				background-color: $red;
			}
			img {
				width: 25px;
			}
			.side {
				margin: 0 15px;
			}
		}
	}
}
