

$dpurple: #2e0f47;
$purple: #6b3695;
$lpurple: #a187b0;
$red: #ea3952;
$grey: #e2dddc;
$midgrey: #cec8c7;
$dgrey: #989493;
$headlinegrey: #6c6c6c;
$textgrey: #9a9a9a;
$lightestyellow: #fff1d0;
$lyellow: #ffe3a1;
$yellow: #ffdd44;
