<div class="container">
	<div class="row">
		<div class="col-md-4">
			<button (click)="startGame()" type="button" class="btn btn-success" [disabled]="!users.length" > Játék indítáa</button>
		</div>
		<div class="col-md-4">
			<button (click)="refreshUsers()" type="button" class="btn btn-success">Játékosok frissítése</button>
		</div>
		<div class="col-md-4">
			<button (click)="restartGame()" type="button" class="btn btn-warning">Játék újraindítása</button>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-12">
			<ul class="list-group">
				<h1 *ngIf="users.length">Bejelentkezett multiplayer felhasználók:</h1>
				<h1 *ngIf="!users.length">Nincsenek bejelentkezett felhasználók</h1>
				<li *ngFor="let user of users; index as i" class="list-group-item my-1 d-flex justify-content-between">
					<p class="m-0 p-0">{{ user.name }}</p>
					<button (click)="clearUser(user, i)" class="btn btn-danger">Eltávolítás</button>
					<div *ngIf="user.ready" class="led-green"></div>
					<div *ngIf="!user.ready" class="led-red"></div>
				</li>
			</ul>
		</div>
	</div>
</div>



