@import "~src/styles/variables";

body {
	/deep/ {

	}
}

.username,
.gameType,
.briefing {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	&__container {
		margin: 0 auto;
	}
}


// utilities
.btn-main {
	background-color: $purple;
	color: white;
	border-radius: 40px;
	border: 3px solid white;
	padding: 1.3rem 2rem;
	font-size: 20px;
	font-weight: bold;
}


.btn-main-dark {
	background-color: $dpurple;
	color: white;
	border-radius: 40px;
	border: 3px solid white;
	padding: 1.3rem 2rem;
	font-size: 20px;
	font-weight: bold;
}

.btn-grey {
	background-color: $midgrey;
	color: white;
	border-radius: 40px;
	border: 3px solid white;
	padding: 1.3rem 2rem;
	font-size: 20px;
	font-weight: bold;

	&.small {
		font-size: 12px;
		padding: 4px 10px;
		font-weight: 200;
		color: black;
	}
}

.width-70 {
	width: 70% !important;
}

.width-100 {
	width: 100% !important;
}

.textInput {
	position: relative;
	text-align: left;

	label {
		position: absolute;
		display: block;
		top: -20px;
		left: 50px;
		color: $lpurple;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;

	}

	input {
		display: block;
		padding: 1.3rem 3rem;
		font-weight: bold;
		border-radius: 40px;
		border: 3px solid $lpurple;
		color: $dgrey;
		width: 90%;
		margin: 15px auto;


		&::placeholder {
			color: $dgrey;
		}
	}
}


.gameType {
	background-color: $dpurple;
	flex-direction: column;
	justify-content: center;
	color: white;


	&__logo {
		img {
			width: 400px;
		}
	}

	h1 {
		text-transform: uppercase;
		font-size: 25px;
		text-align: center;
		margin: 2rem 0;
		font-weight: bold;
	}

}
.toplist {
	width: 100%;

	ul {
		width: 100%;
		padding: 0;
		background-color: white;
		padding: 1px 0;

		li {
			display: flex;
			padding: 12px;
			margin: 4px 0;
			background-color: $lpurple;
			font-size: 23px;
			font-weight: bold;

			&:first-child {
				background-color: $red;
			}
			img {
				width: 25px;
			}
			.side {
				margin: 0 15px;
			}
		}
	}
}

.username {
	background-color: $grey;
	.swiper-container {
		position: relative;
		width: 100%;
		height: 200px;
		background-color: white;
		margin: 3rem 0;
		display: flex;
		align-items: center;
		z-index: 1;
	}

	.swiper-slide {
		transition: all 0.3s;

		position: relative;
		img {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.3s;
		}
		opacity: 0.7;
	}

	.swiper-slide-active {
		position: relative;
		color: #fff;
		opacity: 1;
		z-index: 1;
		height: 110%;
		width: 190px !important;
		transition: all 0.3s;


		img {
			transition: all 0.3s;
			width: 100%;
			height: 100%;
		}
	}
	.play {
		img {
			width: 20px;
			margin: 0 10px;
		}
	}

	&__container {
		h2 {
			font-size: 23px;
			color: $purple;

		}
	}

}


.briefing {
	position: relative;
	background-color: $grey;

	&__text {
		background-color: white;
		border-radius: 20px;
		position: absolute;
		width: 450px;
		height: 500px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;


		h3 {
			text-align: center;
			text-transform: uppercase;
			margin: 2rem 0;
			font-weight: bold;
			font-size: 23px;
			color: $headlinegrey;
		}

		&__description {
			color: $textgrey;
			padding: 1.5rem 2.3rem;
			font-size: 14px;
		}

	}

	.backgColumn {
		position: absolute;
		top: 0;
		left: 5%;
		width: 35%;
		height: 100%;
		z-index: 1;
		background-color: $midgrey;
	}
}



.waiting {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: $midgrey;

	&__container {
		width: 500px;
		height: 500px;
		border-radius: 50%;
		border: 5px solid white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	.flexrow {
		display: flex;
		justify-content: center;
		margin: 15px 0;

		.user {
			position: relative;
			width: 140px;
			height: 140px;
			border-radius: 50%;
			border: 4px solid white;
			background-color: #fff1d0;

			&.highlighted {
				border: 4px solid $purple;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}

			&__isready {
				position: absolute;
				height: 40px;
				width: 40px;
				bottom: 0px;
				right: -10px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: white;
				border-radius: 20px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		&.small {
			position: absolute;
			left: 30px;
			top: 20px;

			.user {
				width: 70px;
				height: 70px;
				border: 2px solid $purple;

				&__isready {
					width: 20px;
					height: 20px;
				}
			}

			.name {
				font-weight: bold;
				font-size: 17px;
			}
		}

		.name {
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__users {
		display: flex;
	}

	.user {
		margin: 0 1rem;

	}

}


.game {
	overflow: hidden;

	height: 100vh;
	&__head {
		display: flex;
		justify-content: space-between;
		background-color: $dpurple;
		padding: 0.9rem 0;

		&__users {
			display: flex;
			margin-left: 50px;

			.user {
				position: relative;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				margin: 0 7.5px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}

			.name {
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 15px;
				font-size: 24px;
			}
		}

		&__time {
			display: flex;
			align-items: center;
			font-size: 30px;
			font-weight: bold;
			color: white;
			margin-right: 50px;

			.nums {
				display: flex;
				align-items: center;
				margin: 0 10px;
			}

			.giveup {
				color: white;
				text-decoration: underline;
				font-size: 14px;
				font-weight: 200;
			}

		}
	}

	.timeline {
		position: relative;
		width: 100%;
		height: 10px;
		background-color: white;

		&__counter {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $red;
			z-index: 1;
		}
	}

	.main-col {
		background-color: #eee8e7;
		.playArea {
			position: relative;
			width: 650px;
			height: 440px;
			background-color: $grey;
			margin-top: 20px;
			z-index: 3;

			.starterKovacs {
				position: absolute;
				bottom: 50px;
				left: 50%;
				transform: translateX(-50%);
				pointer-events: none;
				img {
					height: 300px;
				}

				.static-kovacs {
					display: none;
					z-index: 2;
				}

				.oldpc {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 100px;
					height: auto;
					z-index: 1;
				}

				.moneybox {
					position: absolute;
					top: 245px;
					right: 32px;
					width: 387px;
					height: 220px;
					pointer-events: none;
					// background-color: red;
					// background-color: red;

					.money {
						position: absolute;
						animation: moneyFly 0.4s forwards;
						width: 25px;
						height: 25px;
						position: absolute;
						top: 0;
						right: 0;

					}
				}
			}
			.investment {
				position: absolute;

				img {
					width: 120px;
				}

				.purchasedNum {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.webdesigner {
				top: 35px;
				left: 550px;

			}
			.customer-service {
				top: 35px;
				left: 470px;
			}
			.strategyst {
				top: 30px;
				left: 390px;
			}

			.copywriter {
				top: 30px;
				left: 330px;
			}
			.intern {
				top: 30px;
				left: 250px;
			}

			.PM {
				top: 30px;
				left: 190px;
			}

			.VR {
				top: 30px;
				left: 110px;
			}

			.performance {
				top: -10px;
				left: 0;
			}

			.social {
				top: 170px;
				left: 0;
			}

			.dev {
				bottom: 10px;
				left: 0;
			}
		}

		.statistics {
			margin: 20px;
			z-index: 2;

			&__points {
				position: relative;
				width: 280px;
				padding: 12px 40px;
				text-align: center;
				font-size: 30px;
				font-weight: bold;
				margin-top: 35px;
				margin-left: 60px;

				img {
					position: absolute;
					top: -13px;
					left: -40px;
					width: 90px;
					height: 90px;

				}
			}

			&__hit-dps {
				display: flex;
				margin: 20px 60px;
				justify-content: space-between;


				.number {
					font-size: 25px;
					color: white;
					text-shadow: -1px -1px 0 $dgrey,
					1px -1px 0 $dgrey,
					-1px 1px 0 $dgrey,
					 1px 1px 0 $dgrey;

				}
			}
		}
	}

	.side-col {
		background-color: $midgrey;
		height: calc(100vh - 128px);
		overflow-y: scroll;
		padding: 5px;

		.investments {
			height: 100%;


			&__item {
				width: 80%;
				height: 120px;
				border-radius: 25px;
				display: flex;
				margin: 15px auto;
				border: 2px solid white;

				&__left {
					flex: 0 0 40%;
					align-items: center;
					justify-content: center;
					background-color: $lyellow;
					border-top-left-radius: 23px;
					border-bottom-left-radius: 23px;

					img {
						width: 100%;
						height: 100%;
					}
				}

				&__right {
					flex: 1;
					background-color: $lpurple;
					border-top-right-radius: 23px;
					border-bottom-right-radius: 23px;
					color: white;
					padding-top: 20px;

					.investment-name {
						flex: 0 0 50%;
						font-size: 14px;
						padding: 0;
						padding-left: 18px;
						display: flex;
						align-items: center;
					}

					.points-sec {
						flex: 1;
						font-size: 8px;
						padding: 0;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.add-btn {
						position: relative;
						width: 100%;
						background-color: $yellow;
						border-radius: 25px;
						font-weight: bold;
						text-align: center;
						border: 2px solid white;
						margin-left: -20px;
						padding: 3px;


						&__plus {
							position: absolute;
							top: -1px;
							left: -1px;
							background-color: $dpurple;
							border-radius: 50%;
							width: 32px;
							height: 32px;
							border: 2px solid white;
							cursor: pointer;

							img {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 50%;
								height: 50%;

							}
						}
					}
				}


				&.disabled {
					pointer-events: none;
					opacity: 0.6;
					.investments__item__left {

						background-color: $lightestyellow;
						position: relative;

						img {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 100%;
							height: 100%;
						}

						.lock {
							width: 30px;
							height: auto;
						}
					}

					.investments__item__right,
					.add-btn {
						background-color: $midgrey;
					}
				}

			}
		}
	}
}



.countback {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	h1 {
		font-size: 300px;
	}
}

.bonuses {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(black,0.5);
	display: none;
	opacity: 0;
	z-index: 2;

	&.visible {
		animation: openModalContainer 0.4s forwards;
		display: block;
	}
	&.remove {
		display: block;
		opacity: 1;
		animation: closeModalContainer 0.4s forwards;
	}

	&__modal {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 85%;
		transform: translate(-50%, -50%) scale(0.8);
		background-color: white;
		z-index: 3;
		border-radius: 25px;
		padding: 20px 30px;
		text-align: center;

		h2 {
			color: $purple;
			font-size: 23px;
			font-weight: bold;
			padding-top: 20px;
		}

		p {
			color: #989493;
			font-weight: bold;
		}

		button {
			padding: 5px 50px;
			color: white;
			text-transform: uppercase;
			border-radius: 30px;
			margin: 0 20px;
		}

		.multiChoiceBtn {
			background-color: $purple;
		}

		img {
			width: 150px;
		}


		&.visible {
			animation: openModal 0.4s forwards;
		}
		&.remove {
			animation: closeModal 0.4s forwards;
		}
	}
}


// Animations

@keyframes openModalContainer {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes closeModalContainer {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes openModal {
	from {
		transform: translate(-50%, -50%) scale(0.8);
	}

	to {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes closeModal {
	from {
		transform: translate(-50%, -50%) scale(1);
	}

	to {
		transform: translate(-50%, -50%) scale(0.8);
	}
}

@keyframes moneyFly {
	0% {
		top: 0;
		left: 100%;
	}

	25% {
		top: 20%;
		left: 70%;

	}
	50% {
		top: 40%;
		left: 45%;
	}
	100% {
		top: 80%;
		left: 6%;
	}
}

