

	<div *ngIf="currentAppState === 'gameType'" class="gameType">

			<div class="gameType__logo">
				<img src="assets/img/digiminer_logo.png" alt="Digiminer logo">
			</div>
			<div class="toplist">
					<h1>Döntsd meg a rekordot!</h1>
				<ul>
					<li *ngFor="let item of results; index as i ">
						<div class="container">
							<div class="row">
								<div class="col-6 d-flex justify-content-center">
									<div class="side">{{ i + 1 }}.</div>
									<div>{{ item.user_name }}</div>
								</div>
								<div class="col-6 d-flex justify-content-center">
									<div class="side">
										<img src="assets/img/digiminer_coin.png" alt="Digicoin">
									</div>
									<div>{{ item.points | number: '1.0' }}</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="container">
				<div class="row my-3">
					<div class="col-6 text-center">
						<button class="btn-main width-70" (click)="setGameType('single')">Egyedül játszok</button>
					</div>
					<div class="col-6 text-center">
						<button class="btn-main width-70" (click)="setGameType('multi')">Másokkal versenyzek</button>
					</div>
				</div>
			</div>





	</div>
	<div *ngIf="currentAppState === 'name'" class="username">
		<swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
				<div *ngFor="let slide of avatars" class="swiper-slide">
				<div>
					<img [src]="slide.url" alt="">
				</div>
				</div>
		</swiper>
		<div class="container">
			<div class="row">
				<div class="col-5 mx-auto">
					<div *ngIf="!userExists.ifExist" class="username__container">
						<div class="textInput mx-auto">
							<label for="name">Játékos neve</label>
							<input id="name" type="text" placeholder="Név megadása!" [(ngModel)]="userName">
						</div>

						<button class="play btn-main width-100 text-uppercase" [disabled]="userName === undefined" (click)="addName()"> <span><img src="/assets/img/play.png" alt="Play icon"></span> Játsszunk már!</button>
					</div>



					<!-- <div *ngIf="userExists.ifExist" class="username__container">
						<h2>Ezzel a felhasználónévvel már játszottak</h2>
						{{ userName }}
					</div> -->

				</div>
			</div>

		</div>

		<div #generalModal class="bonuses">
			<div #generalModalElement class="bonuses__modal">
				<h1>{{ generalModalData.title }}</h1>
				<p>{{ generalModalData.description }}</p>
				<div *ngIf="generalModalData.button.type === 'singleChoice'">
					<button (click)="dismissGeneralModal()">{{ generalModalData.button.text }}</button>
				</div>
				<div *ngIf="generalModalData.button.type === 'multiChoice'">
					<button class="my-2 p-3" [ngStyle]="{'background-color': generalModalData.button.color}" (click)="generalModalChoice(true)">{{ generalModalData.button.options[0] }}</button>
					<button class="my-2 p-3" [ngStyle]="{'background-color': generalModalData.button.color}" (click)="generalModalChoice(false)">{{ generalModalData.button.options[1] }}</button>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="currentAppState === 'briefing'" class="briefing">
		<div class="backgColumn"></div>
		<div class="briefing__text">
			<h3>Ez itt a brief</h3>
			<div class="briefing__text__description" [innerHTML]="breifTextFinished"></div>
		</div>
		<div class="briefing__animation">

		</div>
	</div>




	<div *ngIf="currentAppState === 'waiting'" class="waiting">

		<div class="flexrow small">
			<div class="user">
				<img [src]="currentUser.avatar" alt="icon">
				<div class="user__isready">{{ currentUser.name.charAt(0) }}</div>
			</div>
			<div class="name">
				{{ currentUser.name }}
			</div>
		</div>

		<div class="waiting__container">
			<div class="flexrow">
				<div *ngIf="users[0]; else emptyUser0" class="user" [ngClass]="{highlighted: currentUser.id === users[0].id}">
					<img *ngIf="users[0]" [src]="users[0].avatar" alt="icon">
					<div [ngStyle]="{'background-color': users[0].ready ? '#368295' :'#ea3952'}" class="user__isready"> {{ users[0].name.charAt(0) }}</div>
				</div>
				<ng-template #emptyUser0>
						<div class="user"></div>
				</ng-template>

				<div *ngIf="users[1]; else emptyUser1" class="user" [ngClass]="{highlighted: currentUser.id === users[1].id}">
					<img [src]="users[1].avatar" alt="icon">
					<div [ngStyle]="{'background-color': users[1].ready ? '#368295' :'#ea3952'}"  class="user__isready">{{ users[1].name.charAt(0) }}</div>
				</div>
				<ng-template #emptyUser1>
					<div class="user"></div>
				</ng-template>
			</div>
			<div class="flexrow">
				<div *ngIf="users[2]; else emptyUser2" class="user" [ngClass]="{highlighted: users[2] && currentUser.id === users[2].id}">
					<img [src]="users[2].avatar" alt="icon">
					<div [ngStyle]="{'background-color': users[2].ready ? '#368295' :'#ea3952'}"  class="user__isready">{{ users[2].name.charAt(0) }}</div>
				</div>
				<ng-template #emptyUser2>
					<div class="user"></div>
				</ng-template>

				<div *ngIf="users[3]; else emptyUser3" class="user" [ngClass]="{highlighted: users[3] && currentUser.id === users[3].id}">
					<img [src]="users[3].avatar" alt="icon">
					<div [ngStyle]="{'background-color': users[3].ready ? '#368295' :'#ea3952'}" class="user__isready">{{ users[3].name.charAt(0) }}</div>
				</div>

				<ng-template #emptyUser3>
					<div class="user"></div>
				</ng-template>
			</div>
		</div>

		<div class="row">
			<button [ngStyle]="{'background-color': currentUser.ready ? '#ea3952' :'#368295'}" (click)="updateUser()" class="btn-main my-3">{{ currentUser.ready ? 'Nem állok készen' : 'Készen állok' }} </button>
		</div>

		<!-- <div class="waiting__users">
			<div [ngClass]="{highlight: user.name === userName}" *ngFor="let user of users" class="user">
				<img src="assets/img/gamer.png" alt="">
				<p>{{ user.name }}</p>
				<button [disabled]="userName !== user.name" (click)="updateUser(user)" >{{ user.ready ? 'Nem állok készen' : 'Készen állok' }}</button>

			</div>
		</div> -->
	</div>




	<div *ngIf="currentAppState === 'countback'" class="countback">
		<h1>{{ countBackNum }}</h1>
	</div>





	<div *ngIf="currentAppState === 'game'" class="game">
		<div class="game__head">
			<div class="game__head__users">
				<div class="user">
					<img [src]="currentUser.avatar" alt="Icon">
				</div>
				<div class="name">
					{{ currentUser.name }}
				</div>
			</div>
			<div class="game__head__time">
				<div class="nums">
					{{ minsRemaining }}: <span *ngIf="secsRemaining < 10">0</span>{{ secsRemaining }}
				</div>
				<div class="giveup">
					<span (click)="resetUser()">Feladom</span>
				</div>
			</div>

		</div>
		<div class="timeline">
			<div #countdown class="timeline__counter"></div>
		</div>
		<div class="row m-0">
			<div class="col-8 main-col">
				<div #playarea class="playArea"(mousedown)="hit()" (mouseup)="release(0)">

					<div class="starterKovacs">
						<img src="/assets/img/GIF/KovacsGergo_welcome.gif" alt="Kovács Gergő Welcome">
						<img class="static-kovacs" (mousedown)="hit()" (mouseup)="release(0)" src="/assets/img/KG_csakany_1.png" alt="Kovács Gergő Welcome">
						<img class="static-kovacs" (mousedown)="hit()" (mouseup)="release(0)" src="/assets/img/KG_csakany_2.png" alt="Kovács Gergő Welcome">
						<img src="/assets/img/oldpc.png" alt="oldpc" class="oldpc">
						<div #moneybox class="moneybox">
						</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Performance Team')" class="performance investment">
						<img src="/assets/img/GIF/Performance.gif" alt="Performance">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Performance Team') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Customer Service Team')" class="customer-service investment">
						<img src="/assets/img/GIF/Customer-Service.gif" alt="Customer Service">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Customer Service Team') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Strategyst')" class="strategyst investment">
						<img src="/assets/img/GIF/Stratega.gif" alt="Strategyst">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Strategyst') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Copywriter')" class="copywriter investment">
						<img src="/assets/img/GIF/Copywriter.gif" alt="Copywriter">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Copywriter') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Intern')" class="intern investment">
						<img src="/assets/img/GIF/Gyakornok.gif" alt="Intern">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Intern') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Project Manager')" class="PM investment">
						<img src="/assets/img/GIF/PM.gif" alt="PM">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Project Manager') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('ONE MAN VR DEVELOPER')" class="VR investment">
						<img src="/assets/img/GIF/VRboy.gif" alt="VR">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('ONE MAN VR DEVELOPER') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Social Media Team')" class="social investment">
						<img src="/assets/img/GIF/Social.gif" alt="Social">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Social Media Team') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Webdesigner')" class="webdesigner investment">
						<img src="/assets/img/GIF/Webdesigner.gif" alt="Webdesigner">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Webdesigner') }}</div>
					</div>

					<div *ngIf="isInvestmentPurchased('Developer Team')" class="dev investment">
						<img src="/assets/img/GIF/DevTeam.gif" alt="Dev">
						<div class="purchasedNum">{{ numOfInvestmentPurchased('Developer Team') }}</div>
					</div>


					<div #bonusesContainer class="bonuses">
							<div #bonusesModalElement class="bonuses__modal">
								<div *ngIf="bonusModal.button.type === 'element'">
									<img [src]="bonusModal.button.path" alt="Image" >
								</div>
								<h2>{{ bonusModal.title }}</h2>
								<p>{{ bonusModal.description }}</p>

								<button [disabled]="bonusModal.button.disabled" [ngStyle]="{'background-color': bonusModal.button.color}" (click)="dismissBonusModal()">  {{ bonusModal.button.text }}</button>
							</div>
						</div>

						<div #multiModalContainer class="bonuses">
							<div #multiModalElement class="bonuses__modal">
								<img [src]="multiModal.button.path" alt="Image" >
								<h2>{{ multiModal.title }}</h2>
								<p>{{ multiModal.description }}</p>

								<div *ngIf="multiModal.button.type === 'singleChoice'">
									<button [disabled]="multiModal.button.disabled"  [ngStyle]="{'background-color': multiModal.button.color}" (click)="dismissMultiModal()">{{ multiModal.button.text }}</button>
								</div>

								<div *ngIf="multiModal.button.type === 'multiChoice'" >
									<button [disabled]="multiModal.button.disabled" [ngStyle]="{'background-color': multiModal.button.color}" class="multiChoiceBtn" (click)="onChoiceClick(multiModal, true)">{{ multiModal.button.options[0] }}</button>

									<button [disabled]="multiModal.button.disabled" [ngStyle]="{'background-color': multiModal.button.color}" class="multiChoiceBtn" (click)="onChoiceClick(multiModal, false)">{{ multiModal.button.options[1] }}</button>
								</div>

							</div>
						</div>
				</div>
				<div class="statistics">
					<div class="statistics__points btn-grey">
						<img src="/assets/img/digiminer_coin_big.png" alt="">
						{{ currentUser.points | number: '1.0-0' }}
					</div>
					<div class="statistics__hit-dps">
						<div class="number">
							{{ DCKatt | number: '1.0-0' }} DigiCoin / TAP
						</div>
						<div class="number">
							{{ DPS | number: '1.0-0' }} DigiCoin / SEC
						</div>
					</div>
				</div>
			</div>

			<div class="col-4 side-col">
				<div class="investments">
					<div class="investments__item" *ngFor="let investment of investments" [ngClass]="{'disabled': !investment.isAvailable(usedInvestments, currentUser)}" (click)=investClick(investment) >
						<div class="investments__item__left">
							<img [src]="investment.imgUrl" alt="Profilkép">
							<img *ngIf="!investment.isAvailable(usedInvestments, currentUser)" class="lock" src="/assets/img/lock.png" alt="Lock">
						</div>
						<div class="investments__item__right">
							<div class="d-flex" >
								<div class="investment-name">
									{{ investment.division }}
								</div>
								<div class="points-sec">
									{{ investment.DPS }} DPS | {{ investment.DCKatt }} TAP
								</div>
							</div>

							<div class="investment-name text-uppercase">
								{{ investment.title }}
							</div>

							<div class="add-btn">
								{{ investment.price }}
								<div class="add-btn__plus">
									<img src="/assets/img/plus.png" alt="Plus icon">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


				<!-- <button (click)="showModal()">Modal</button> -->


				<!-- <div class="counter">
					<h1>{{ currentUser.points | number: '1.0-0' }}</h1>
				</div> -->

				<!-- <div class="mine">
					<button (click)="mine()">Mine</button>
				</div> -->

<!--
				<div class="invest">
					<h2>Befektetések</h2>
					<ul>
						<li *ngFor="let investment of investments">
							<button (click)=investClick(investment) [disabled]="!investment.isAvailable(usedInvestments, currentUser)">{{ investment.title }} <span>{{ investment.price }}</span></button>
							{{ investment.isAvailable(usedInvestments, currentUser) }}
						</li>
					</ul>
				</div> -->

				 <br>

				<div *ngIf="partners.length" class="partners">
					<ul>
						<li *ngFor="let partner of partners">
							<p>{{ partner.userName }} <span>{{ partner.points }}</span></p>
						</li>
					</ul>
				</div>




			</div>

















