/* You can add global styles to this file, and also import other style files */
@import "~src/styles/variables";

body {
	margin: 0;
	color: black;
	background-color: $purple;

}

html, body { height: 100%;
	width: 1024px;
	height: 768px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	}


	body { margin: 0; font-family: Gotham, "Helvetica Neue", sans-serif;

	}
