
	<div class="monitor-container">
		<div class="logo">
			<img src="/assets/img/digiminer_logo.png" alt="Logo">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 gergo">
					<img src="/assets/img/GIF/KG_csakanyoz.gif" alt="">
				</div>
					<!-- <div class="col-6 time">
						<div *ngIf="!isStarted">
							6:00
						</div>
						<div *ngIf="isStarted">
							{{ minsRemaining }}:<span *ngIf="secsRemaining < 10">0</span>{{ secsRemaining }}
						</div>
					</div> -->
				</div>
			</div>


			<h2 *ngIf="!users.length">Toplista</h2>
			<div *ngIf="!users.length" class="toplist full">
				<ul>
					<li *ngFor="let item of results; index as i ">
						<div class="container">
							<div class="row">
								<div class="col-6 d-flex justify-content-center">
									<div class="side">{{ i + 1 }}.</div>
									<div>{{ item.user_name }}</div>
								</div>
								<div class="col-6 d-flex justify-content-center">
									<div class="side">
										<img src="assets/img/digiminer_coin.png" alt="Digicoin">
									</div>
									<div>{{ item.points | number: '1.0' }}</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>


			<h2 *ngIf="users.length">Aktív játékosok</h2>
			<div *ngIf="users.length" class="toplist" >
				<ul>
					<li *ngFor="let item of users; index as i ">
						<div class="container">
							<div class="row">
								<div class="col-6 d-flex justify-content-center">
									<div class="side">{{ i + 1 }}.</div>
									<div>{{ item.name }}</div>
								</div>
								<div class="col-6 d-flex justify-content-center">
									<div class="side">
										<img src="assets/img/digiminer_coin_big.png" alt="Digicoin">
									</div>
									<div>{{ item.points | number: '1.0' }}</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

	</div>
