@import "~src/styles/variables";

html, body {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
}

.monitor-container {
	height: 100vh;
	position: relative;
}
.logo {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	img {
		width: 300px;
	}
}

.time {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 130px;
	font-weight: bolder;
	padding-top: 280px;
}

.gergo {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 500px;
		text-align: center;
	}
}


h2 {
	font-size: 100px;
	color:white;
	text-align: center;
	margin: 2.5rem 0;

}

.toplist {
	width: 100%;
	color: white;
	display: flex;
	align-items: center;

	&.full {
		overflow: scroll;
		transform: translate(0);
		// margin-top: 5rem;

		ul {
			overflow: scroll;
		}
	}

	ul {
		width: 100%;
		padding: 0;
		// background-color: white;
		padding: 1px 0;
		max-height: 45vh;


		li {
			display: flex;
			padding: 30px;
			margin: 4px 0;
			background-color: white;
			font-size: 50px;
			font-weight: bold;
			color: $grey;
			justify-content: space-around;

			&:first-child {
				background-color: $red;
			}
			img {
				width: 100px;
			}
			.side {
				margin: 0 15px;
			}
		}
	}
}

